
.transaction-main {
  background-color: #FFF;
  width: 100vw;
  min-width: 450px;
  padding: 10vh 10vw;
  justify-content: center;
}

.transaction-title-text {
  text-align: center;
  border-bottom: 2px solid #f5f5f5;
  font-weight: bold;
  font-size: 22px;
}


/* 購入内容の表示 */
.buy-item-info {
  height: 150px;
  border-bottom: 2px solid #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buy-item-img {
  margin-right: 20px;
  height: 130px;
  width: 250px;
  object-fit: contain;
}

.buy-item-right-content {
  display: flex;
  flex-direction: column;
}

.buy-item-text {
  font-size: 20px;
}

.buy-item-price {
  display: flex;
  font-weight: bold;
  align-items: center;
  margin-top: 10px;
}

.item-price-text {
  font-size: 15px;
  margin-right: 20px;
}

.item-price-sub-text {
  font-size: 12px;
}

/* /購入内容の表示 */

/* 支払額の表示 */
.item-payment {
  height: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid #f5f5f5;
  font-weight: bold;
}

.item-payment-title {
  font-size: 20px;
}

.item-payment-price {
  font-size: 25px;
}

.available-card {
  display: flex;
  justify-content: center;
  height: 35px;
}

.card-logo {
  width: 40px;
  margin: 5px 5px;
}

.credit-card-info-numbers{
  display: flex;
  align-items: center;
  justify-content: center
}

.item-buy-box {
  margin: 25px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.purchase-text {
  font-weight: bold;
  min-width: 170px;
  margin-bottom: 10px;
  text-align: center
}

.phone-num-input {
  height: 30px;
  padding-right: 10px;
  align-items: center
}